# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.account_address import AccountAddress
from ..types.account_holder_type_enum import AccountHolderTypeEnum
from ..types.client_account_response import ClientAccountResponse
from ..types.currency_enum import CurrencyEnum
from ..types.currency_field_spec import CurrencyFieldSpec
from ..types.paginated_response_client_account_response import PaginatedResponseClientAccountResponse
from .raw_client import AsyncRawAccountsClient, RawAccountsClient
from .types.partner_client_account_create_request_status import PartnerClientAccountCreateRequestStatus

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class AccountsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawAccountsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawAccountsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawAccountsClient
        """
        return self._raw_client

    def list_client_account_fields(
        self, client_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Dict[str, CurrencyFieldSpec]:
        """
        Return the required and optional bank account fields for each supported currency. Fetch once and cache; use it to build the create-account request.

        Parameters
        ----------
        client_id : str

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Dict[str, CurrencyFieldSpec]
            Successful Response

        Examples
        --------
        from voltaria import Voltaria

        client = Voltaria(
            api_key="YOUR_API_KEY",
        )
        client.accounts.list_client_account_fields(
            client_id="client_id",
        )
        """
        _response = self._raw_client.list_client_account_fields(client_id, request_options=request_options)
        return _response.data

    def list_client_accounts(
        self,
        client_id: str,
        *,
        page: typing.Optional[int] = None,
        page_size: typing.Optional[int] = None,
        order_by: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> PaginatedResponseClientAccountResponse:
        """
        Retrieve all bank accounts for one of your clients.

        Parameters
        ----------
        client_id : str

        page : typing.Optional[int]

        page_size : typing.Optional[int]

        order_by : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        PaginatedResponseClientAccountResponse
            Successful Response

        Examples
        --------
        from voltaria import Voltaria

        client = Voltaria(
            api_key="YOUR_API_KEY",
        )
        client.accounts.list_client_accounts(
            client_id="client_id",
        )
        """
        _response = self._raw_client.list_client_accounts(
            client_id, page=page, page_size=page_size, order_by=order_by, request_options=request_options
        )
        return _response.data

    def create_client_account(
        self,
        client_id: str,
        *,
        account_holder_name: str,
        account_holder_type: AccountHolderTypeEnum,
        currency: CurrencyEnum,
        label: typing.Optional[str] = OMIT,
        sort_code: typing.Optional[str] = OMIT,
        account_number: typing.Optional[str] = OMIT,
        iban: typing.Optional[str] = OMIT,
        bic: typing.Optional[str] = OMIT,
        routing_number: typing.Optional[str] = OMIT,
        account_type: typing.Optional[str] = OMIT,
        address: typing.Optional[AccountAddress] = OMIT,
        status: typing.Optional[PartnerClientAccountCreateRequestStatus] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ClientAccountResponse:
        """
        Create a bank account for one of your clients. The account is registered with the payment provider immediately. Use the `status` field to create it as `active` (default; demotes any existing active account in the same currency to `passive`) or `passive`.

        Parameters
        ----------
        client_id : str

        account_holder_name : str
            Full name of the account holder.

        account_holder_type : AccountHolderTypeEnum
            Account holder type. One of: `business`, `private`.

        currency : CurrencyEnum
            ISO 4217 currency code. Use `/accounts/fields` to get required fields per currency.

        label : typing.Optional[str]
            Optional label / nickname for the account (max 50 characters).

        sort_code : typing.Optional[str]
            Sort code (required for GBP).

        account_number : typing.Optional[str]
            Account number (required for GBP and USD).

        iban : typing.Optional[str]
            IBAN (required for EUR, CZK, PLN).

        bic : typing.Optional[str]
            BIC / SWIFT code (optional for EUR).

        routing_number : typing.Optional[str]
            ABA routing number (required for USD).

        account_type : typing.Optional[str]
            Account type (required for USD). E.g. `checking` or `savings`.

        address : typing.Optional[AccountAddress]
            Account holder address (required for USD).

        status : typing.Optional[PartnerClientAccountCreateRequestStatus]
            Account status. `active` demotes any existing active account in the same currency to `passive`; `passive` is added as a backup. Defaults to `active`.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ClientAccountResponse
            Successful Response

        Examples
        --------
        from voltaria import Voltaria

        client = Voltaria(
            api_key="YOUR_API_KEY",
        )
        client.accounts.create_client_account(
            client_id="client_id",
            account_holder_name="Acme Ltd",
            account_holder_type="business",
            currency="gbp",
            sort_code="40-47-84",
            account_number="12345678",
        )
        """
        _response = self._raw_client.create_client_account(
            client_id,
            account_holder_name=account_holder_name,
            account_holder_type=account_holder_type,
            currency=currency,
            label=label,
            sort_code=sort_code,
            account_number=account_number,
            iban=iban,
            bic=bic,
            routing_number=routing_number,
            account_type=account_type,
            address=address,
            status=status,
            request_options=request_options,
        )
        return _response.data

    def get_client_account(
        self, client_id: str, account_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> ClientAccountResponse:
        """
        Retrieve a specific bank account for one of your clients.

        Parameters
        ----------
        client_id : str

        account_id : str

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ClientAccountResponse
            Successful Response

        Examples
        --------
        from voltaria import Voltaria

        client = Voltaria(
            api_key="YOUR_API_KEY",
        )
        client.accounts.get_client_account(
            client_id="client_id",
            account_id="account_id",
        )
        """
        _response = self._raw_client.get_client_account(client_id, account_id, request_options=request_options)
        return _response.data


class AsyncAccountsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawAccountsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawAccountsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawAccountsClient
        """
        return self._raw_client

    async def list_client_account_fields(
        self, client_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Dict[str, CurrencyFieldSpec]:
        """
        Return the required and optional bank account fields for each supported currency. Fetch once and cache; use it to build the create-account request.

        Parameters
        ----------
        client_id : str

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Dict[str, CurrencyFieldSpec]
            Successful Response

        Examples
        --------
        import asyncio

        from voltaria import AsyncVoltaria

        client = AsyncVoltaria(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.accounts.list_client_account_fields(
                client_id="client_id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.list_client_account_fields(client_id, request_options=request_options)
        return _response.data

    async def list_client_accounts(
        self,
        client_id: str,
        *,
        page: typing.Optional[int] = None,
        page_size: typing.Optional[int] = None,
        order_by: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> PaginatedResponseClientAccountResponse:
        """
        Retrieve all bank accounts for one of your clients.

        Parameters
        ----------
        client_id : str

        page : typing.Optional[int]

        page_size : typing.Optional[int]

        order_by : typing.Optional[str]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        PaginatedResponseClientAccountResponse
            Successful Response

        Examples
        --------
        import asyncio

        from voltaria import AsyncVoltaria

        client = AsyncVoltaria(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.accounts.list_client_accounts(
                client_id="client_id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.list_client_accounts(
            client_id, page=page, page_size=page_size, order_by=order_by, request_options=request_options
        )
        return _response.data

    async def create_client_account(
        self,
        client_id: str,
        *,
        account_holder_name: str,
        account_holder_type: AccountHolderTypeEnum,
        currency: CurrencyEnum,
        label: typing.Optional[str] = OMIT,
        sort_code: typing.Optional[str] = OMIT,
        account_number: typing.Optional[str] = OMIT,
        iban: typing.Optional[str] = OMIT,
        bic: typing.Optional[str] = OMIT,
        routing_number: typing.Optional[str] = OMIT,
        account_type: typing.Optional[str] = OMIT,
        address: typing.Optional[AccountAddress] = OMIT,
        status: typing.Optional[PartnerClientAccountCreateRequestStatus] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ClientAccountResponse:
        """
        Create a bank account for one of your clients. The account is registered with the payment provider immediately. Use the `status` field to create it as `active` (default; demotes any existing active account in the same currency to `passive`) or `passive`.

        Parameters
        ----------
        client_id : str

        account_holder_name : str
            Full name of the account holder.

        account_holder_type : AccountHolderTypeEnum
            Account holder type. One of: `business`, `private`.

        currency : CurrencyEnum
            ISO 4217 currency code. Use `/accounts/fields` to get required fields per currency.

        label : typing.Optional[str]
            Optional label / nickname for the account (max 50 characters).

        sort_code : typing.Optional[str]
            Sort code (required for GBP).

        account_number : typing.Optional[str]
            Account number (required for GBP and USD).

        iban : typing.Optional[str]
            IBAN (required for EUR, CZK, PLN).

        bic : typing.Optional[str]
            BIC / SWIFT code (optional for EUR).

        routing_number : typing.Optional[str]
            ABA routing number (required for USD).

        account_type : typing.Optional[str]
            Account type (required for USD). E.g. `checking` or `savings`.

        address : typing.Optional[AccountAddress]
            Account holder address (required for USD).

        status : typing.Optional[PartnerClientAccountCreateRequestStatus]
            Account status. `active` demotes any existing active account in the same currency to `passive`; `passive` is added as a backup. Defaults to `active`.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ClientAccountResponse
            Successful Response

        Examples
        --------
        import asyncio

        from voltaria import AsyncVoltaria

        client = AsyncVoltaria(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.accounts.create_client_account(
                client_id="client_id",
                account_holder_name="Acme Ltd",
                account_holder_type="business",
                currency="gbp",
                sort_code="40-47-84",
                account_number="12345678",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.create_client_account(
            client_id,
            account_holder_name=account_holder_name,
            account_holder_type=account_holder_type,
            currency=currency,
            label=label,
            sort_code=sort_code,
            account_number=account_number,
            iban=iban,
            bic=bic,
            routing_number=routing_number,
            account_type=account_type,
            address=address,
            status=status,
            request_options=request_options,
        )
        return _response.data

    async def get_client_account(
        self, client_id: str, account_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> ClientAccountResponse:
        """
        Retrieve a specific bank account for one of your clients.

        Parameters
        ----------
        client_id : str

        account_id : str

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ClientAccountResponse
            Successful Response

        Examples
        --------
        import asyncio

        from voltaria import AsyncVoltaria

        client = AsyncVoltaria(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.accounts.get_client_account(
                client_id="client_id",
                account_id="account_id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_client_account(client_id, account_id, request_options=request_options)
        return _response.data
